<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>WFWorkflowActions</key>
		<array>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>token</string>
					<key>UUID</key>
					<string>66c13498-6ef0-433f-9e2c-45f6ea2bb91c</string>
					<key>WFTextActionText</key>
					<string/>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>4a988aba-5f24-47dd-92ac-ddeb7ddcf716</string>
					<key>WFCondition</key>
					<integer>100</integer>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFInput</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>Variable</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>Type</key>
								<string>ExtensionInput</string>
								<key>VariableName</key>
								<string>ShortcutInput</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenAttachment</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.repeat.each</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>97a3b59d-eab0-409b-9b8b-f7bfc894034c</string>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>ExtensionInput</string>
							<key>VariableName</key>
							<string>ShortcutInput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Repeat Item</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>sharedItem</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.getitemname</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>fileName</string>
					<key>UUID</key>
					<string>7cf55a3e-bae2-4237-ba29-519f564b8626</string>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>sharedItem</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.urlencode</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>encodedName</string>
					<key>UUID</key>
					<string>3b167d3c-e243-4771-96a7-7d36fec181bf</string>
					<key>WFEncodeMode</key>
					<string>Encode</string>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{0, 1}</key>
								<dict>
									<key>OutputName</key>
									<string>fileName</string>
									<key>OutputUUID</key>
									<string>7cf55a3e-bae2-4237-ba29-519f564b8626</string>
									<key>Type</key>
									<string>ActionOutput</string>
								</dict>
							</dict>
							<key>string</key>
							<string>￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.downloadurl</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFHTTPBodyType</key>
					<string>File</string>
					<key>WFHTTPHeaders</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFDictionaryFieldValueItems</key>
							<array>
								<dict>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>Authorization</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{7, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>token</string>
													<key>OutputUUID</key>
													<string>66c13498-6ef0-433f-9e2c-45f6ea2bb91c</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>Bearer ￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>Content-Type</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>application/octet-stream</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>X-Portal-File-Name</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>OutputName</key>
											<string>encodedName</string>
											<key>OutputUUID</key>
											<string>3b167d3c-e243-4771-96a7-7d36fec181bf</string>
											<key>Type</key>
											<string>ActionOutput</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenAttachment</string>
									</dict>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFDictionaryFieldValue</string>
					</dict>
					<key>WFHTTPMethod</key>
					<string>POST</string>
					<key>WFRequestVariable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>sharedItem</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFURL</key>
					<string>https://163-176-171-217.sslip.io/api/shortcut-upload</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.repeat.each</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>97a3b59d-eab0-409b-9b8b-f7bfc894034c</string>
					<key>UUID</key>
					<string>284faa14-2771-4257-af1e-801ce36b29ee</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>4a988aba-5f24-47dd-92ac-ddeb7ddcf716</string>
					<key>UUID</key>
					<string>c01dafb7-e593-47c3-a0f7-ea3da2d23205</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.openurl</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>Show-WFInput</key>
					<true/>
					<key>WFInput</key>
					<string>https://www.energeticabr.com/energetico/</string>
				</dict>
			</dict>
		</array>
		<key>WFWorkflowClientVersion</key>
		<string>4033.0.4.3</string>
		<key>WFWorkflowHasShortcutInputVariables</key>
		<true/>
		<key>WFWorkflowIcon</key>
		<dict>
			<key>WFWorkflowIconGlyphNumber</key>
			<integer>59682</integer>
			<key>WFWorkflowIconStartColor</key>
			<integer>431817727</integer>
		</dict>
		<key>WFWorkflowImportQuestions</key>
		<array>
			<dict>
				<key>ActionIndex</key>
				<integer>1</integer>
				<key>Category</key>
				<string>Parameter</string>
				<key>DefaultValue</key>
				<string/>
				<key>ParameterKey</key>
				<string>WFTextActionText</string>
				<key>Text</key>
				<string>Cole a credencial copiada pelo portal Energético.</string>
			</dict>
		</array>
		<key>WFWorkflowInputContentItemClasses</key>
		<array>
			<string>WFImageContentItem</string>
			<string>WFGenericFileContentItem</string>
			<string>WFPDFContentItem</string>
			<string>WFAVAssetContentItem</string>
		</array>
		<key>WFWorkflowMinimumClientVersion</key>
		<integer>900</integer>
		<key>WFWorkflowMinimumClientVersionString</key>
		<string>900</string>
		<key>WFWorkflowTypes</key>
		<array>
			<string>ActionExtension</string>
		</array>
	</dict>
</plist>